:root {
  --color-one: #fc5103;
  --color-two: #333333;
  --color-three: #fafafa;
  --color-four: #f7f7f7;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
table {
  width: 1024px;
  border-spacing: 1px 0;
}
table td {
  text-align: center;
}
thead th {
  background-color: var(--color-one);
  color: #fff;
  padding: 1.5rem;
  font-weight: normal;
}
tbody :is(tr:first-child, tr:last-child) td {
  padding: 1rem;
}
tbody :is(tr:not(:first-child):not(:last-child)) td {
  padding: 1rem;
}
tbody :is(tr:not(:first-child):not(:last-child)) td:first-child {
  color: #a6a6a6;
  font-weight: 600;
}
tbody tr:nth-child(odd) td {
  background-color: var(--color-three);
}
tbody tr:nth-child(even) td {
  background-color: var(--color-four);
}
tbody tr:first-child td span {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-one);
  position: relative;
}
tbody tr:first-child td span::before {
  content: "$";
  color: #666;
  position: absolute;
  top: 5px;
  left: -15px;
  font-size: initial;
}
tbody tr:first-child td span::after {
  content: "99";
  color: #666;
  position: absolute;
  top: 5px;
  right: -25px;
  font-size: initial;
}
tbody tr:first-child td sub {
  color: #999;
  font-weight: 600;
  margin-left: 5px;
}
tbody tr:last-child span {
  display: block;
  width: 5rem;
  border-radius: 7.5px;
  padding: 0.5rem;
  background-color: var(--color-two);
  color: #fff;
  font-weight: 600;
  margin: auto;
}
tbody tr:last-child td:nth-child(4) span {
  background-color: var(--color-one);
}
